body
{
	background-color: black;
}
*
{
	color: azure;
	font-family: Arial;
}
h1, h2, h3, h4
{
	transition: color 0.5s;
}
h1:hover, h2:hover, h3:hover, h4:hover
{
	color: aquamarine;
}
a
{
	transition: color 0.5s;
}
a:hover
{
	color: yellow;
	text-decoration: inherit;
}
.spoiler
{
	filter: blur(5px);
	transition: filter 1s;
}
.spoiler:hover
{
	filter: blur(0px);
}
